extends layouts/authenticated

block head
    script(src="/javascripts/map.js")
block content-auth
    .row
        .col-md-12
            h1 Map
            div(id="map")
            script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqJNv7Na4t209_FCKDaKsNSVAFyZaepCU&callback=initMap")
