extends layouts/authenticated
block content-auth
    h1 Users
    p This is list of all users
    table.table.table-striped
        for user in users
            tr
                td
                    a(href='/user/' + user.id) #{user.name}
                td= user.email