body{
  padding: 10px 0;
}
a {
  color: inherit;
}

a:hover {
  color: inherit;
}

#map {
  height: calc(100vh - 10vh);
  width: calc(80vw);
}
#break-text {
  word-wrap: break-word;         /* All browsers since IE 5.5+ */
  overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
  width: 70vw;
}
